@model Scratchpad

<p class="h1 mousehover">
    @Model.Title
    <a asp-controller="scratchpad" asp-action="edit" asp-route-id="@Model.ScratchpadId" class="btn btn-light hide">
        <i class="fas fa-pencil-alt"></i>
    </a>
</p>

@section heads {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/richtext/src/richtext.min.css" />
        <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="~/lib/richtext/src/jquery.richtext.js"></script>
        <script type="text/javascript" src="~/js/editor.js?@DateTime.Now.Ticks"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/richtext/src/richtext.min.css" />
        <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/lib/richtext/src/jquery.richtext.min.js"></script>
        <script type="text/javascript" src="~/js/editor.js"></script>
    </environment>
}

@foreach (var note in Model.Notes)
{
    <note data="@note" class="card">
        <div class="card-header">@note.Title</div>
        <div class="card-body overflow-hidden">@Html.Raw(note.Content)</div>
        <div class="card-footer">
            <button onclick="openRTFEditor(this)" class="btn btn-sm" data-mode="open">
                <i class="fas fa-keyboard"></i>
                <span>Edit this Note</span>
            </button>
            <button onclick="closeRTFEditor(this)" class="btn btn-sm" style="display: none" data-mode="save">
                <i class="fas fa-cloud-upload-alt"></i>
                <span>Save your changes</span>
            </button>
        </div>
    </note>
}